<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.user_name}}'s Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="head" class="d-flex justify-content-between">
        <span><h1>DriversBlog</h1></span>
        <span id="logout"><a href="/dashboard" class="btn btn-primary">Back to Dashboard</a></span>
    </div>
    
    <div id="updateform" class="d-flex justify-content-between">
        <form action="/submitpfp" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ user.user_name }}'s profile</h2><br />
            <input type="hidden" value="{{ user.id }}" name="user_id" />
            <div id="profile"class="">
                <span>
                    {% if messages %}
                    <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <img src="{{ user.pfp.url }}" id="userPfp" height="250px" width="350"/><br />
                    <label for="postImg" class="btn btn-success" >Change Profile Picture</label><br />
                    <input type="file" name="file" id="postImg">
                    <span>
                        <p>
                            <label for="username">Username: </label><br/>
                            <input type="text" value="{{ user.user_name }}" name="user_name" placeholder="{{ user.user_name }}" />
                        </p>  
                        <p>
                            <label for="password">Update Password: </label><br />
                            <input type="password" name="password" placeholder="Update Password" />
                        </p>
                        <p>
                            <label for="confirmPW">Confirm Password</label><br />
                            <input type="password" name="confirmPW" placeholder="Confirm Password" />
                        </p>
                    </span>
                </span>
                <span>
                    
                </span>

            </div>
            <input class="btn btn-primary" type="submit">
        </form>
        <span>
            {% if user.owned_vehicles.all %}
            <h3>My Cars</h3>
            
            {% for vehicle in user.owned_vehicles.all %}

            {% endfor %}
            {% endif %}
        </span>
    </div>
</body>
</html>