<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="pageBody">
    
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">	&#8594; DriversBlog</span>
        <a href="/meets" class='navbar-brand'>Meets</a>
        <a href="discussions" class="navbar-brand">Discussion Boards</a>
        <span class="navbar-brand"><a href="/profile" id="profileLink"><img class="rounded-circle" src="{{logged_user.pfp.url}}" height="35px" width="50px" alt=""> My Profile</a></span>
        <a href="/logout" class="navbar-brand">Logout</a>
    </nav>
    <div id="homeContainer" class="d-flex justify-content-between">
        
        <div id="wall">
            {% for post in followingPosts.all %}
            <div id="userPost">
                <span>
                    <h3>
                        <u>{{ post.header }}</u>
                        
                    </h3>
                    
                    <p>Posted by: <a id="userLink" href="/users/{{post.creator.id}}">{{ post.creator.user_name }}</a>
                        {% if post.thread %}
                           in: <a href="/discussions/{{ post.thread.id}}">{{ post.thread.title }}</a>
                        {% endif %}
                         on {{ post.created_at }}

                    </p>   

                </span>
                {% if post.img %}
                    <img src="{{ post.img.url }}" width="275px"/>
                {% endif %}
                <p>{{ post.content }}</p>
                {% if logged_user not in post.likes.all  %}
                <span class="d-flex">
                    <form method="POST" action="/likePost">
                    {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <input type="hidden" name="post_id" value="{{ post.id }}" />
                        <button class="btn btn-primary"type="submit">Like</button>
                    </form>
                {% else %}
                <p>You like this post</p>
                {% endif %}
                    <span class="d-flex"><p>{{ post.likes.all|length }} users have liked </p>
                        {% if post.creator.id == logged_user.id %}
                        <form action="/deletePost/{{ post.id }}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ request.path }}" name="path" >
                            <input type="submit" class="btn btn-danger" value="Delete"/>
                        </form>
                        {% endif %}
                        {% if post.creator.id  == logged_user.id %}
                        <a href="/post/{{ post.id }}/edit" class="btn btn-success">Edit</a>
                        {% endif %} 
                    </span>  
                </span>
                
            </div>
            {% endfor %}
        </div>
        
        <div id="postForm" class="ml-3">
            <div id="formBorder">

                
                {% if messages %}
                    <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                    </ul>
                {% endif %}
                <h3>Post to my wall</h3>
                <form action="/post" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    
                    <p>
                        <label for="header">Post Header</label><br />
                        <input type="text" name="header" />
                    </p>
                    <p>
                        <label for="content">Post Body</label><br />
                        <textarea name="content" maxlength="260" rows="5" cols="40"></textarea>
                    </p>
                    <p>
                        <input type="hidden" value="{{ logged_user.id }}" name="uid">
                    </p>
                    <p>
                        <label for="postImg" class="btn btn-success">Post Image</label>
                        <input type="file" name="img" id="postImg" />
                    </p>
                    <p>
                        <input type="submit" class="btn btn-primary"/>
                    </p>
                </form>
            </div>
        </div>   
    </div>
    
</body>
</html>